@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
  --background-image: linear-gradient(360deg, rgb(0, 125, 145), rgb(6 140 163));
}
[data-theme='dark'] {
  --background-image: linear-gradient(360deg, rgb(0 8 44), rgb(0 19 51));
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, var(--background-color-1), var(--background-color-2), var(--background-color-3), var(--background-color-4)) ;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  /* background-image: var(--background-image) !important; */


  /* transition: background-image 5s ease; */
  /* background-color: rgb(11 53 65); */
}

[data-theme='dark']  {
  margin: 0;
  font-family: "Raleway", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(-45deg, var(--background-color-1), var(--background-color-2), var(--background-color-3), var(--background-color-4)) ;
  background-size: 400% 400%;
  -webkit-animation: Gradient 15s ease infinite;
  -moz-animation: Gradient 15s ease infinite;
  animation: Gradient 15s ease infinite;

  /* background-image: var(--background-image) !important; */
  /* transition: background-image 5s ease; */
  /* background-color: rgb(11 53 65); */
}

@-webkit-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@-moz-keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}

@keyframes Gradient {
  0% {
  background-position: 0% 50%
  }
50% {
background-position: 100% 50%
}
100% {
background-position: 0% 50%
}
}